.input-group {
    width: 50%;
    margin: 10px;
    margin: 0 auto;
}

#buttonsDiv {
    margin-bottom: 30px;
    margin-top: 30px;

}

#input-country {
    width: 40%;
}

.topicDiv {
    float: left;
    color: white;
    border: 5px solid white;
    width: 20%;
    overflow: hidden;
    background: lightgrey;
    text-align: center;
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    width: 0 auto;
}

#topics-view {
    padding-top: 150px;
}